* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    padding: 0;
    align-items: center;
    margin: 0;
    background-color: #eee;
}

#drop-zone {
    width: 30%;
    min-width: 300px;
    height: 30%;
    min-height: 200px;
    display: block;
    background-color: #ee964b;
    margin: auto;
    margin-top: 10%;
    border-radius: 10px;
}

#file-selector {
    display: block;
    margin: auto;
    width: 85%;
}

ol {
    list-style-type: none;
    margin: auto;
}

.thumbnail {
    display: inline-block;
    align-items: center;
    padding: 5px;
    width: 20%;
}

.selected {
    background-color: lightcoral;
    border: 2px black solid;
}

.thumbnail:hover {
    background-color: lightblue;
}

.thumbnail image {
    width: 100%;
}



footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
